{% extends 'vetrinaBundle:Default:layout.html.twig' %}
{% block title %}
    <title>Vetrina | Categorie</title>
{% endblock %}
{% block body %}
    <section>
    <div class="container">
      <div class="row">
    <div class="col-sm-12 padding-right">
<div class="features_items">

{% if  categories|length != 0%}
    <h2 class="title text-center">Tous les vetements</h2>
{% for categorie in categories %} 
    {%if categorie.disponibilite == true %}
    <div class="col-sm-3">
    <div class="product-image-wrapper">
     <div class="single-products">
     <div class="productinfo text-center">
     <img src="{{asset('uploads/' ~categorie.path)}}" width="300" height="200" />
     <p><b> {{categorie.nomvet}}</b></p>
     <h3>Prix d'achat:</h3>
     <h2>{{categorie.prix}} €</h2>
     <h3>Prix de location:</h3>   
      <h2>{{categorie.prixloc}} €</h2>
     <p> {{categorie.marque}}</p>
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
     {% if app.user.username != categorie.client %}
     <a href="{{ path('acheter', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Acheter</a>
       <a href="{{ path('louer', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Louer </a>
        <a href="{{ path('echanger', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Echanger</a>
   {% endif %}
     {%else %}
            <a href="{{ path('acheter', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Acheter</a>
        
            
        <a href="{{ path('louer', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Louer </a>
        <a href="{{ path('echanger', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Echanger</a>
                 {% endif %}
     </div>
      <div class="product-overlay">
      <div class="overlay-content">
           <p><b> {{categorie.nomvet}}</b></p>
            <p> {{categorie.description}}</p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                 {% if app.user.username != categorie.client %}
            <a href="{{ path('acheter', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Acheter</a>
       <a href="{{ path('louer', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Louer </a>
        <a href="{{ path('echanger', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Echanger</a>
       {% endif %}
            {%else %}
            <a href="{{ path('acheter', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Acheter</a>
        
            
        <a href="{{ path('louer', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Louer </a>
        <a href="{{ path('echanger', { 'id' : categorie.id }) }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Echanger</a>
                 {% endif %}
       <br/>
        <a href="{{path('details',{'id':categorie.id})}}" class="btn btn-info ">Plus de details</a>
        <br/>
       </div>
         </div>
    </div>

   </div>
  </div>
    
    
    
    
   
     {% endif %}
       
    {% endfor %}

</div>
    <ul class="navigation">
 {{ knp_pagination_render(categories) }}
</ul>
   
      {% else %}
          <br/><br/><br/><h2 class="text-center"><font color="orange">Aucun Vétement</font></h2><br/><br/><br/><br/><br/><br/><br/><br/>
          <br/><br/><br/><br/><br/><br/><br/>
        {% endif %}
    </div>
  
</div>
    </div>
    </section>
    {% endblock  %}