{% extends 'vetrinaBundle:Default:layout.html.twig' %}
{% block title %}
    <title>Vetrina | Demandes</title>
{% endblock %}
{% block body %}
     
  <section id="cart_items">
		<div class="container">
				<div class="row">
					<div class="col-sm-9">
	
	
	     
	<div class="review-payment">
           
              
                   
				<h2>Demandes d'achat</h2>
			</div>
                                         
                                        
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">vetement</td>
						<td></td>
						<td>Client </td>
							<td class="price">Prix d'achat</td>
							
							<td class="total">Choix</td>
							<td></td>
						</tr>
					</thead>
                                        {% if demandes|length == 0 %}
                        <tr>
                            <td colspan="5"><center>Aucune demande d'achat</center></td>
                        </tr>
                    {% endif %}
					<tbody>
                                             {% for demande in demandes %}  
                                                 {% if demande.vetement.disponibilite== true %}
                                                  {% if demande.etat== null %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="{{asset('uploads/' ~demande.vetement.path)}}" height="75" width="75"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{demande.vetement.nomvet}}</a></h4>
								<p>Web ID: {{demande.id}}</p>
							</td>
							<td>
							<h4><a href="">{{demande.client.prenom}} {{demande.client.nom}}</a></h4>
								<p>ID: {{demande.client.id}}</p>
							
							
							</td>
							<td class="cart_price">
								<p>{{demande.vetement.prix}} DT</p>
							</td>
							
							<td class="cart_total">
								
			<a href="{{path('etatdemande',{'id':demande.id , 'etat': 'valide' }) }}" class="btn btn-info">Confirmer </a>
			
			<a href="{{path('etatdemande',{'id':demande.id ,'etat': 'echec'})}}"class="btn btn-danger">Supprimer</a>
			
							</td>
							
						</tr>
						
						
						
						
						
						
						
						
						
						
						
						

						
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									
									
								</table>
							</td>
						</tr>
					 {% endif %}{% endif %}{% endfor %}</tbody>
				</table>
					</div>
			
	</div>
					
				</div>
			</div></section>
	  
    
        {% render(controller('vetrinaBundle:Demande:affichelocation')) %}
      {% render(controller('vetrinaBundle:Demande:afficheechange')) %}
  
{% endblock %}